body{
    background-image: url(smart.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 20px;
    font-weight: bolder;
    /* padding-bottom: 80%;
    text-align: left; */
    padding-left: 50px;
    margin-left: 1%;
}
h1{
    text-underline-offset:none;
    text-emphasis: none;
    text-align: left;
    text-decoration: none;
}

table{
    text-align: center;
    background-color: rgb(238, 231, 245);
    padding-bottom: 200px;
    width: 1000px;
    height: 300px;
    text-decoration: none;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;   
}
tr :nth-child(tr){
    background-color: aqua;
}
tr :nth-child(odd){
    background-color: beige;
}
table,tr,th{
      scroll-margin-inline: 2%;

} 
 nav ul{
    list-style-type: none;
    text-align: right;
    float: right;
    margin-left: 1%;
    color: white;
    text-decoration: none;
    padding: 0px 80px;
} 
 li{
display: inline;
color: white;
font-style:italic;
font-size:x-large;
margin: 10px;
list-style-type: none;
text-align: right;
}
li a{
    color: black;
    text-align: right;
    
}
iframe{
    /* margin-left: 100px */
    image-rendering: auto;
    display: block;
    padding: 0px 30px;
    margin-left: 3%;
}

footer p{
    text-align: justify;
    margin-top: 300px;
    background-color: blue;
    margin-left: 30px;
}